table {
    border-collapse: collapse;
  }
  table th, table td {
    border: solid 1px black;
  }
.text {
    font-size: 20px;
    font-weight: bold;
  }
  .link {
    color: blue;
  }
  .an {
    padding: 0em 0.5em;
    font-weight: bold;
    border: solid 2px #000000;
  }